---
---

<footer>
    <div class="container">
        <div class="row">
            <div class=" bottom-message">
                <p class="text-muted">© 2023 Santiago Valencia. All rights reserved.</p>
            </div>
            <div class="social-links">
                <p class="text-muted">FOLLOW ME</p>
                <ul class="list-inline">
                    <li>
                        <a href="#" target="_blank">
                            Twitter
                        </a>
                    </li>
                    <li>
                      <a href="#"  target="_blank">
                          LinkedIn
                      </a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
      background-image: linear-gradient(0deg ,rgb(210, 233, 243) 20%, rgb(219, 238, 246) 100%);
      position: relative;
      width: 100%;
      bottom: 0;
      font-weight: 300;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .social-links a {
      all: unset;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .bottom-message {
      align-self: end;
    }

    .text-muted {
      color: #777;
    }

    html.dark footer {
      background-image: linear-gradient(0deg ,#162127 5%, #27343a 100%);
    }
  </style>